{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <title>{{title}}</title>
</head>
<body class="bg-black text-white text-lg mx-auto text-center p-4">
    <h1 class="text-2xl">{{title}}</h1>
    <p>Please fill in the form and resubmit the form. Thank you.</p>
</body>
</html>
{% endblock %}